<div class="indent-elements">
<% if @piece.empty? %>
  <% @piece.each do |piece| %>
    <h3><%=link_to piece.medium, pieces_path %></h3>
  <% end %>
  <% else %>
    <h5>No Pieces....yet</h5>
<% end %>
</div>