
<h1>Pieces</h1>
<% @pieces.each do |piece| %>
  <p><%= piece.medium %></p>
  <% end %>
<br>

  <%= link_to "Add New piece", new_piece_path %><br><br>
  <p><%= link_to "Return Home", root_path %></p>
  


