<div class="indent-elements">
  <h4>You can click to see all Styles:</h4>
  <h2 class="indent-header"><%= @piece %></h2>

  <ul>
   <li><%= link_to @style.name, styles_path(@style) %></li>
  
  </ul>

  
 <%= link_to "Return Home", root_path %>
</div>