<h1>New Style</h1>
<% if @style.errors.any? %>
  <div id='error_explanation'>
    <ul>
      <% @style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render 'form' %>
<p><%= link_to "Return Home", root_path %></p>