<h2 class="indent-header"><%= @style.name %></h2>

<%= button_to 'Delete', style_path(@style), method: :delete %>
<%=link_to "Add New Style", new_style_piece_path(@style)%>
<%= link_to "Return Home", root_path %>