
<h1>Welcome To Bama!, The Designers Pieces Put Together</h1>
<h3> Feel Free To Join Us To Get Your Artworks Organized. Let's get to it!</h3>

<p><%= link_to "Signup!", new_designer_path %></p>
<p><%= link_to "Login!", '/login'%></p>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>

